@model ProductListViewModel



<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
       
    </div>
    <div class="col-md-9">

        <div class="row" style="margin:15px; font-size:20px;">                  
            <h2>Blog başlığı <br></h2> 
            
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et laoreet urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed non mi bibendum, ultricies erat ut, tincidunt erat. Quisque tellus augue, facilisis vitae mi et, euismod hendrerit quam. Duis laoreet eros justo, quis fermentum tortor laoreet ac. Etiam venenatis nunc neque, luctus maximus nulla hendrerit tincidunt. Phasellus non purus congue, gravida leo sit amet, sollicitudin velit. Ut rhoncus eros magna, in accumsan tellus auctor cursus. Morbi sed neque faucibus, mollis diam at, porta felis. Donec sit amet sollicitudin neque. Integer tristique eros eleifend, dignissim metus vel, luctus nibh.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque feugiat condimentum lorem, vitae eleifend orci lobortis ut. Mauris id egestas augue, id rutrum magna. Fusce pulvinar dignissim dolor ac maximus. Sed et erat in quam rutrum facilisis. Nunc et dui non risus dignissim tempus vitae quis mi. Quisque cursus, diam congue sagittis egestas, odio dui eleifend nibh, sed mattis elit elit viverra nisi. Pellentesque a ligula eget lectus ornare condimentum hendrerit non felis.

In ut sodales justo, non consequat orci. Duis ut est in tortor pellentesque lobortis. Suspendisse lacus neque, aliquam non metus vitae, ultricies egestas arcu. Sed augue orci, vehicula a pellentesque posuere, sollicitudin eget dolor. Ut nec libero nec justo eleifend tempor id ac turpis. Nulla ac est eget eros lacinia suscipit in nec nunc. Vivamus pellentesque rhoncus neque non elementum. Nulla imperdiet nisl nulla, quis dignissim mi porta quis. Mauris at erat ac nisi gravida consequat.</p>   
        </div>
    </div>
</div>



@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
}