 <header>
    <div class="jumbotron jumbotron-fluid ">
        <div class="container-fluid" style="background-color:darkslateblue;  padding:10px; margin:8px; ">
           <div class="row">
            <div class="col-4">
            <h1 class="display-4" style="color:white; font-weight:100; margin:17px; background-color:darkslateblue;">Teknolojiden haber</h1>
            </div>
                
            <div class="col-8">
            <p class="lead " style="color:white; font-size:25px; font-weight:100; margin-top:25px; background-color:darkslateblue;">Aradýðýnýz tüm teknolojik ürünleri özellikleri ve yorumlarýyla burada bulabilirsiniz.Güncel veritabanýmýzla tüm ürünler için son geliþmeleri sizlere sunuyoruz.</p>
            </div>
            </div>
        </div>
        </div>
    </header>