  <div class="navbar navbar-dark navbar-expand-sm" style="background-color:rgb(0, 153, 255);">
        <div class="container">
            <a href="/" class="navbar-brand">tekknolojidenhaber</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Ürünler</a>
                </li>
                <li class="nav-item">
                <a href="/account/blog " class="nav-link" >Blog</a>
</li>
                @if(User.Identity.IsAuthenticated)
                {
                    
                                       

                    if(User.IsInRole("admin"))
                    {
                         <li class="nav-item">
                        <a href="/admin/products" class="nav-link">Admin Ürünler</a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="/admin/categories" class="nav-link">Admin Kategoriler</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/role/list" class="nav-link">Roles</a>
                        </li>
                         <li class="nav-item">
                            <a href="/admin/UserList" class="nav-link">Users</a>
                        </li>
                    }                      
                }
            </ul>

             <ul class="navbar-nav ml-auto">

                @if(User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a href="/account/manage" class="nav-link">
                            @User.Identity.Name
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/logout" class="nav-link">Logout</a>
                    </li>
                }
                else
                {                    
                    <li class="nav-item">
                        <a href="/Account/Login?ReturnUrl=/home/index" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/register" class="nav-link">Register</a>
                    </li>    
                }
            </ul>


        </div>
    </div>